In [15]:
import pandas as pd
import numpy as np

raw_data = pd.read_csv('archive/Absenteeism_data.csv');

raw_data.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [16]:
raw_data.shape

(700, 12)

In [17]:
df = raw_data.copy()

In [18]:
df.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

There are not missing values

ID is not relevant, should be removed

Reason for absence and Date don't have the correct types

In [20]:
df = df.drop("ID", axis=1)

In [21]:
df.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

Check duplicates

In [22]:
df.duplicated().sum()

np.int64(8)

In [24]:
df[df.duplicated() == True]

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
127,27,11/01/2016,118,10,37,308.593,28,1,0,0,2
128,27,12/01/2016,118,10,37,308.593,28,1,0,0,2
131,27,13/01/2016,118,10,37,308.593,28,1,0,0,2
305,23,19/10/2016,235,20,43,265.017,38,1,1,0,2
388,27,22/02/2017,179,51,38,251.818,31,1,0,0,3
389,27,24/02/2017,179,51,38,251.818,31,1,0,0,3
477,28,25/07/2017,246,25,41,230.290,23,1,0,0,2
496,28,05/09/2017,246,25,41,261.756,23,1,0,0,1

Checking if original df had the same duplicates

In [26]:
raw_data.duplicated().sum()

np.int64(8)

In [27]:
raw_data[raw_data.duplicated() == True]

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
127,34,27,11/01/2016,118,10,37,308.593,28,1,0,0,2
128,34,27,12/01/2016,118,10,37,308.593,28,1,0,0,2
131,34,27,13/01/2016,118,10,37,308.593,28,1,0,0,2
305,5,23,19/10/2016,235,20,43,265.017,38,1,1,0,2
388,3,27,22/02/2017,179,51,38,251.818,31,1,0,0,3
389,3,27,24/02/2017,179,51,38,251.818,31,1,0,0,3
477,24,28,25/07/2017,246,25,41,230.290,23,1,0,0,2
496,24,28,05/09/2017,246,25,41,261.756,23,1,0,0,1

In [28]:
raw_data[(raw_data.index == 126) | (raw_data.index == 127)]

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
126,34,27,15/01/2016,118,10,37,308.593,28,1,0,0,2
127,34,27,11/01/2016,118,10,37,308.593,28,1,0,0,2

They seem to represent the same employee being abscent for the same reason in different days

Now check reasons for abscence

In [29]:
df['Reason for Absence'].unique()

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16])

In [30]:
df['Reason for Absence'].nunique()

28

In [31]:
df['Reason for Absence'].value_counts()

Reason for Absence
23    147
28    110
27     66
13     52
0      38
19     36
22     32
26     31
25     29
11     24
10     22
18     21
14     18
1      16
7      13
12      8
21      6
6       6
8       5
9       4
5       3
24      3
16      3
15      2
4       2
17      1
3       1
2       1
Name: count, dtype: int64

Converting them to dummy variables

In [32]:
reason_columns = pd.get_dummies(df['Reason for Absence'])

In [33]:
reason_columns.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [34]:
reason_columns['check'] = reason_columns.sum(axis=1)

In [35]:
reason_columns.head()

,0,1,2,3,4,5,6,7,8,9,...,19,21,22,23,24,25,26,27,28,check
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,1
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,1
3,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,1
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,1

In [36]:
reason_columns['check'].unique()

array([1])

In [37]:
reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first=True)

In [38]:
reason_columns.head()

,1,2,3,4,5,6,7,8,9,10,...,18,19,21,22,23,24,25,26,27,28
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [39]:
df = df.drop(['Reason for Absence'], axis=1)

In [40]:
reason_columns.head()

,1,2,3,4,5,6,7,8,9,10,...,18,19,21,22,23,24,25,26,27,28
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

Group the values based on the reason of the abscense

In [41]:
reason_columns.loc[:, 1:14].max(axis=1).head()

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [42]:
reason_type_1 = reason_columns.loc[:, 1:14].max(axis=1)
reason_type_2 = reason_columns.loc[:, 15:17].max(axis=1)
reason_type_3 = reason_columns.loc[:, 18:21].max(axis=1)
reason_type_4 = reason_columns.loc[:, 22:].max(axis=1)

Add the new features to the dataframe

In [43]:
df = pd.concat([df, reason_type_1, reason_type_2, reason_type_3, reason_type_4], axis=1)

In [44]:
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,False,False,False,True
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,False,False,False,False
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,False,False,False,True
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,True,False,False,False
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,False,False,False,True

In [45]:
df.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [46]:
col_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age', 
             'Daily Work Load Average', 'Body Mass Index', 'Education', 
             'Children', 'Pets', 'Absenteeism Time in Hours', 
             'Reason_1', 'Reason_2', 'Reason_3', 'Reason _4']

In [47]:
df.columns = col_names

In [48]:
df.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_1',
       'Reason_2', 'Reason_3', 'Reason _4'], dtype=object)

In [49]:
col_names_ordered = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason _4', 'Date',
                    'Transportation Expense', 'Distance to Work', 'Age', 
                    'Daily Work Load Average', 'Body Mass Index', 
                    'Education', 'Children', 'Pets', 
                    'Absenteeism Time in Hours']

In [51]:
df = df[col_names_ordered]

In [52]:
df.head()

,Reason_1,Reason_2,Reason_3,Reason _4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,False,False,False,True,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,False,False,False,False,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,False,False,False,True,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,True,False,False,False,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,False,False,False,True,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [53]:
df_reason_mod = df.copy()

In [54]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason _4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,False,False,False,True,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,False,False,False,False,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,False,False,False,True,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,True,False,False,False,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,False,False,False,True,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [55]:
type(df_reason_mod['Date'])

pandas.core.series.Series

In [56]:
type(df_reason_mod['Date'][0])

str

In [57]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format='%d/%m/%Y')

In [58]:
type(df_reason_mod['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [59]:
df_reason_mod['Date'][0]

Timestamp('2015-07-07 00:00:00')

In [60]:
df_reason_mod['Date'][0].month

7

Create a list to store months in

In [61]:
list_months = []

In [62]:
for i in range(df_reason_mod.shape[0]):
    list_months.append(df_reason_mod['Date'][i].month)

In [63]:
df_reason_mod['month_value'] = list_months

In [64]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason _4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,month_value
0,False,False,False,True,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,False,False,False,False,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,False,False,False,True,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,True,False,False,False,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,False,False,False,True,2015-07-23,289,36,33,239.554,30,1,2,1,2,7

In [65]:
df_reason_mod['Date'][1]

Timestamp('2015-07-14 00:00:00')

In [66]:
df_reason_mod['Date'][1].weekday()

1

In [67]:
def date_to_weekday(date):
    return date.weekday()

In [68]:
df_reason_mod['day_of_week'] = df_reason_mod['Date'].apply(date_to_weekday)

In [69]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason _4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,month_value,day_of_week
0,False,False,False,True,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,False,False,False,False,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,False,False,False,True,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,True,False,False,False,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,False,False,False,True,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3

Since we now have the month and day of week in their respective columns, we can drop 'Date'

In [70]:
df_reason_mod = df_reason_mod.drop(['Date'], axis=1)

Education

In [71]:
df_reason_mod['Education'].value_counts()

Education
1    583
3     73
2     40
4      4
Name: count, dtype: int64

In [72]:
df_reason_mod['Education'] = df_reason_mod['Education'].map({1:0, 2:1, 3:1, 4:1})

In [73]:
df_reason_mod['Education'].value_counts()

Education
0    583
1    117
Name: count, dtype: int64

In [74]:
df_processed = df_reason_mod.copy()
df_processed.head()

,Reason_1,Reason_2,Reason_3,Reason _4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,month_value,day_of_week
0,False,False,False,True,289,36,33,239.554,30,0,2,1,4,7,1
1,False,False,False,False,118,13,50,239.554,31,0,1,0,0,7,1
2,False,False,False,True,179,51,38,239.554,31,0,0,0,2,7,2
3,True,False,False,False,279,5,39,239.554,24,0,2,0,4,7,3
4,False,False,False,True,289,36,33,239.554,30,0,2,1,2,7,3

In [75]:
df_processed.to_csv('archive/processed_data.csv')

# MACHINE LEARNING PART

In [39]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [25]:
data_processed = pd.read_csv('archive/processed_data.csv')

col_names_ordered = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason _4', 'month_value', 'day_of_week', 
                    'Transportation Expense', 'Distance to Work', 'Age', 
                    'Daily Work Load Average', 'Body Mass Index', 
                    'Education', 'Children', 'Pets', 
                    'Absenteeism Time in Hours']

data_processed = data_processed[col_names_ordered]

data_processed.head()

,Reason_1,Reason_2,Reason_3,Reason _4,month_value,day_of_week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,False,False,False,True,7,1,289,36,33,239.554,30,0,2,1,4
1,False,False,False,False,7,1,118,13,50,239.554,31,0,1,0,0
2,False,False,False,True,7,2,179,51,38,239.554,31,0,0,0,2
3,True,False,False,False,7,3,279,5,39,239.554,24,0,2,0,4
4,False,False,False,True,7,3,289,36,33,239.554,30,0,2,1,2

In [26]:
unscaled_inputs = data_processed.iloc[:,:-1]

In [27]:
unscaled_inputs.head()

,Reason_1,Reason_2,Reason_3,Reason _4,month_value,day_of_week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,False,False,False,True,7,1,289,36,33,239.554,30,0,2,1
1,False,False,False,False,7,1,118,13,50,239.554,31,0,1,0
2,False,False,False,True,7,2,179,51,38,239.554,31,0,0,0
3,True,False,False,False,7,3,279,5,39,239.554,24,0,2,0
4,False,False,False,True,7,3,289,36,33,239.554,30,0,2,1

In [28]:
targets = data_processed['Absenteeism Time in Hours']

In [29]:
targets.head()

0    4
1    0
2    2
3    4
4    2
Name: Absenteeism Time in Hours, dtype: int64

In [31]:
scaler = StandardScaler()

In [32]:
scaler.fit(unscaled_inputs)

StandardScaler()

In [33]:
scaled_inputs = scaler.transform(unscaled_inputs)

In [35]:
X_train, X_test, y_train, y_test = train_test_split(scaled_inputs, targets, test_size=0.2, random_state=42)

In [36]:
X_train.shape

(560, 14)

In [37]:
X_test.shape

(140, 14)

In [38]:
y_train.shape

(560,)

In [40]:
rf = RandomForestClassifier(n_estimators=100, random_state=42)

In [41]:
rf.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [42]:
#evaluate the mode on the training set
rf.score(X_train, y_train)

0.9517857142857142

## Manually check the accuracy

In [44]:
y_hat = rf.predict(X_train)

In [45]:
correct = (y_hat == y_train).sum()
correct

np.int64(533)

In [46]:
correct / y_train.shape[0]

np.float64(0.9517857142857142)

### Now some predictions

In [51]:
data_processed[:1]

,Reason_1,Reason_2,Reason_3,Reason _4,month_value,day_of_week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,False,False,False,True,7,1,289,36,33,239.554,30,0,2,1,4

In [53]:
row_to_predict = data_processed.iloc[0, :-1]
row_to_predict

Reason_1                     False
Reason_2                     False
Reason_3                     False
Reason _4                     True
month_value                      7
day_of_week                      1
Transportation Expense         289
Distance to Work                36
Age                             33
Daily Work Load Average    239.554
Body Mass Index                 30
Education                        0
Children                         2
Pets                             1
Name: 0, dtype: object

In [57]:
scaled_row = scaler.transform([row_to_predict.values])
scaled_row

/home/edwin/.local/lib/python3.12/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[-0.57735027, -0.09298136, -0.31448545,  0.82136542,  0.18272635,
        -0.68370352,  1.00584437,  0.41281584, -0.53606239, -0.80633129,
         0.76743118, -0.44798003,  0.88046927,  0.26848661]])

In [58]:
prediction = rf.predict(scaled_row)
prediction[0]

np.int64(4)

### Another prediction

In [61]:
data_processed[40:41]

,Reason_1,Reason_2,Reason_3,Reason _4,month_value,day_of_week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
40,False,False,False,True,9,1,184,42,27,241.476,21,0,0,0,2

In [62]:
row_to_predict = data_processed.iloc[40:41, :-1]
row_to_predict

,Reason_1,Reason_2,Reason_3,Reason _4,month_value,day_of_week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
40,False,False,False,True,9,1,184,42,27,241.476,21,0,0,0

In [64]:
scaled_row = scaler.transform(row_to_predict.values)
scaled_row

/home/edwin/.local/lib/python3.12/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[-0.57735027, -0.09298136, -0.31448545,  0.82136542,  0.7537462 ,
        -0.68370352, -0.57868874,  0.81838929, -1.47730906, -0.75827313,
        -1.34938863, -0.44798003, -0.91902997, -0.58968976]])

In [65]:
prediction = rf.predict(scaled_row)
prediction[0]

np.int64(2)

### Nice, model seems to be making awesome predictions :D